

<div class="container-fluid my-4">
  <div class="row">
    <div class="col-8">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <app-blog-tarjeta (blogSeleccionado)="verBlog( $event )" [blog]="blog" [index]="i" *ngFor="let blog of blogs; let i = index;"></app-blog-tarjeta>
      </div>  
      <div class="card mt-2">
        <div class="card-header">
          Quote
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>A well-known quote, contained in a blockquote element.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col col-sm col-xs col-md col-xl">
          <input class="form-control me-2" type="search"  placeholder="" aria-label="Search" #buscarTexto 
            (keyup.enter)="buscarBlog(buscarTexto.value)"
          >
      </div>
      <div class="col col-sm col-xs col-md col-xl">
        <button 
          (click)="buscarBlog(buscarTexto.value)"
          class="btn btn-outline-secondary" type="button">Buscar
        </button>
      </div>
    </div>
  </div>
</div>
