
<div class="container-fluid">
  <div class="row mt-3 mb-2">
    <div class="col col-sm col-xs col-md col-lg">
        <section >
            <div class="row gx-3">

              <div class="col col-sm col-xs col-md col-lg-4" *ngFor="let blog of blogs; let i = index;">
                <div class="card mb-3 p-2" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img [src]='blog.img' class="img-fluid rounded-start" [alt]="blog.titulo">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{ blog.titulo }}</h5>
                        <p class="card-text">{{ blog.info }}</p>
                        <p class="card-text">
                          Autor: {{ blog.autor }} 
                          <br> 
                          <small class="text-muted"> Last updated 3 mins ago</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
        </section>
        <article class="mb-2">
            <div class="card">
                <div class="card-header">
                  Quote
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>A well-known quote, contained in a blockquote element.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
              </div>
        </article>
    </div>
    <div class="col-12 col-sm col-xs col-md col-xl-4">
        <aside>
            <div class="col">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
                <button class="btn btn-outline-secondary" type="submit">Buscar</button>
              </form>
            </div>
        </aside>
    </div>
</div>
</div>